<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huawei.deviceviewer.dao.DeviceDao">

	<resultMap id="device" type="Device">
		<id property="id" column="ID" />
		<result property="name" column="DeviceName" />
		<result property="ips" column="DeviceIPs" />
		<result property="type" column="DeviceType" />
		<result property="occupier" column="Occupier" />
		<result property="beginTime" column="BeginTime" />
		<result property="endTime" column="EndTime" />
		<result property="isOccupied" column="IsOccupied" />
		<result property="status" column="Status" />
	</resultMap>

	<insert id="insert" parameterType="Device">
		INSERT INTO DV_Device
		(
			DeviceName,
			DeviceIPs,
			DeviceType,
			Occupier,
			BeginTime,
			EndTime,
			IsOccupied,
			Status
		)
		VALUES
		(
			#{name},
			#{ips},
			#{type},
			#{occupier},
			#{beginTime},
			#{endTime},
			#{isOccupied},
			#{status}
		)
	</insert>

	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM DV_Device WHERE
		ID=#{id}
	</delete>

	<update id="update" parameterType="Device">
		UPDATE DV_Device SET
		DeviceName=#{name},
		DeviceIPs=#{ips},
		DeviceType=#{type},
		Occupier=#{occupier},
		BeginTime=#{beginTime},
		EndTime=#{endTime},
		IsOccupied=#{isOccupied},
		Status=#{status}
		WHERE ID=#{id}
	</update>
	
	<select id="load" parameterType="java.lang.Integer" resultMap="device">
		SELECT * FROM DV_Device WHERE ID=#{id}
	</select>

	<select id="loadAll" resultMap="device">
		SELECT * FROM DV_Device
	</select>

</mapper>