<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8"/>
    <!-- CSS -->
    <link rel="stylesheet" href="/ibook/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/ibook/css/jrange/jquery.range.css">
    <link rel="stylesheet" href="/ibook/css/toast.css">
    <link rel="stylesheet" href="/ibook/css/jrange/time-slidebar.css">
    <link rel="stylesheet" href="/ibook/css/index.css"/>

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/ico/favicon.png">
    <title>iBook</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="alert alert-danger" role="alert"></div>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">iBook</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="logout" onclick="logout()">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="alert alert-danger" role="alert"></div>

<div ng-app="pageBody" ng-controller="devicePageCtrl">
    <div ng-include="'device/device.html'"></div>
</div>

<script src="/ibook/js/jquery/jquery-2.2.2.min.js"></script>
<script src="/ibook/js/bootstrap/bootstrap.min.js"></script>
<script src="/ibook/js/jrange/jquery.range-min.js"></script>
<script src="/ibook/js/moment/moment.js"></script>
<script src="/ibook/js/angular/angular.min.js"></script>
<script src="/ibook/js/jrange/time-slidebar.js"></script>
<script src="/ibook/js/index.js"></script>
<script src="/ibook/js/toast.js"></script>
<script src="/ibook/js/paginate.js"></script>
<script src="/ibook/js/device/device.js"></script>

</body>
</html>